@font-face {
	font-family: 'Poppins-Bold';
	src: url(../font/Poppins/Poppins-Bold.ttf);
}
@font-face {
	font-family: 'Poppins-ExtraBold';
	src: url(../font/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
	font-family: 'Poppins';
	src: url(../font/Poppins/Poppins-Light.ttf);
}
@font-face {
	font-family: 'Poppins-Extra';
	src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}
@font-face {
	font-family: 'Poppins-Med';
	src: url(../font/Poppins/Poppins-Medium.ttf);
}
@font-face {
	font-family: 'Poppins-Reg';
	src: url(../font/Poppins/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins-SemiBold';
	src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

* {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Poppins-Reg';
}

.wrapper .loading {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper .loading .dot {
	width: 25px;
	height: 25px;
	background: linear-gradient(
		90deg,
		rgba(180, 107, 58, 1) 0%,
		rgba(253, 96, 29, 1) 50%,
		rgba(252, 136, 69, 1) 100%
	);
	border-radius: 50%;
	animation: bounce 1.5s infinite ease-in-out, color-change 1.5s infinite;
}

.wrapper .loading .dot:nth-child(2) {
	animation-delay: 0.3s;
}

.wrapper .loading .dot:nth-child(3) {
	animation-delay: 0.6s;
}

.wrapper .loading .dot:nth-child(4) {
	animation-delay: 0.9s;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
}

@keyframes color-change {
	0%,
	100% {
		background: linear-gradient(
			90deg,
			rgba(180, 107, 58, 1) 0%,
			rgba(253, 96, 29, 1) 50%,
			rgba(252, 136, 69, 1) 100%
		);
	}
	50% {
		background: linear-gradient(
			90deg,
			rgba(58, 107, 180, 1) 0%,
			rgba(29, 96, 253, 1) 50%,
			rgba(69, 136, 252, 1) 100%
		);
	}
}

/* Селектор для всей полосы прокрутки */
::-webkit-scrollbar {
	width: 10px; /* Ширина вертикального скроллбара */
}

/* Селектор для дорожки скроллбара */
::-webkit-scrollbar-track {
	background: #1c140f; /* Цвет фона дорожки */
}

/* Селектор для ползунка (Thumb) */
::-webkit-scrollbar-thumb {
	background: #dc7000; /* Пример: полупрозрачный ползунок */
	border-radius: 5px; /* Скругление углов */
}

/* Селектор для ползунка при наведении */
::-webkit-scrollbar-thumb:hover {
	background: #9c5100; /* Цвет при наведении */
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-weight: 400;
	font-size: 16px;
}

.wrapper {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(26, 14, 1, 1) 100%
	);
	width: 100%;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

header {
	padding: 50px 0;
}

header span a.logo {
	text-transform: uppercase;
	font-family: 'Poppins-ExtraBold';
	font-size: 29px;
}

header nav {
	float: right;
	width: 50%;
}

header nav ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
}

header nav ul li.active::after {
	content: '';
	display: block;
	width: 40px;
	height: 5px;
	background: #dc7000;
	position: relative;
	top: 5px;
	left: -15px;
}

header nav ul li a {
	transition: all 200ms ease;
}

header nav ul li:not(.active) a:not(.btn):hover {
	border-bottom: 5px solid #dc7000;
}

header nav ul li a.btn {
	background: #fa9021;
	border: 1px solid #fa9021;
	padding: 12px 23px;
	border-radius: 6px;
	transition: all 800ms ease;
	cursor: pointer;
}

header nav ul li a.btn:hover {
	background: transparent;
	border: 1px solid #fa9021;
	transition: all 500ms ease;
}

.hero {
	margin: 110px 0;
}

.hero--text {
	display: block;
	margin-bottom: 45px;
}

.hero--text p {
	text-align: center;
	font-size: 16px;
	margin-bottom: 15px;
}

.hero--text p span {
	color: #e47500;
}

.hero--text h1 {
	text-align: center;
	font-family: 'Poppins-SemiBold';
	margin-bottom: 13px;
}

.hero--text h4 {
	font-family: 'Poppins-Med';
	font-size: 16px;

	/* line-height: 30px; */
	line-height: 187%;
	text-align: center;
	color: #fff;
}

.hero--info {
	background: #1c140f;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	padding: 50px 91px;
	margin-top: 45px;
}

.hero--info .block {
	display: flex;
	gap: 16px;
	margin-top: 36px;
}

.hero--info .block img {
	width: 55px;
	height: 55px;
}

.hero--info .block div {
	width: 65px;
	height: 65px;
}

.hero--info .line {
	width: 2px; /* Толщина линии */
	height: 128px; /* Высота линии */
	background-color: #eeeff2; /* Цвет линии */
	margin: 0 20px; /* Отступы между элементами */
}
